{% extends 'base.html' %} {% block content %}
<!-- <h1>{% block title %} Index {% endblock %}</h1> -->
<h1>Login!</h1>

<br />
<div class="loginbottom">
  {{ msg }}
  <form action="/login" method="post">
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" id="username" name="username" />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password" />
    </div>

    <button class="btn btn-primary" type="submit">Login</button>
  </form>

  <!-- register link -->
  <p>
    Not registered?
    <a href="{{ url_for('register') }}">Click here to register</a>.
  </p>
</div>
{% endblock %}
