{% extends 'base.html' %} {% block content %}

<body>
  <h2>Welcome to your dashboard, Professor {{ name }}</h2>

  <h3>Your Current Courses:</h3>
  <!-- course_name, course_id, student_id, student_fname, student_lname, grade -->
  <table class="table">
    <tr>
      <th>Course Name</th>
      <th>Course ID</th>
      <th>Student ID</th>
      <th>Student First Name</th>
      <th>Student Last Name</th>
      <th>Grade</th>
      <th>New Grade</th>
    </tr>
    {% for course in grades %}
    <tr>
      <td>{{ course.course_name }}</td>
      <td>{{ course.course_id }}</td>
      <td>{{ course.student_id }}</td>
      <td>{{ course.student_fname }}</td>
      <td>{{ course.student_lname }}</td>
      <td>{{ course.grade }}</td>
      <td>
        <form action="/update_grade" method="post">
          <input
            type="hidden"
            name="course_id"
            value="{{ course.course_id }}" />
          <input
            type="hidden"
            name="student_id"
            value="{{ course.student_id }}" />
          <input type="text" name="new_grade" placeholder="New Grade" />
          <button type="submit" class="btn btn-danger" name="edit">
            Update Grade
          </button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
</body>

{% endblock %}
