{% extends 'base.html' %} {% block content %}
<!-- <h1>{% block title %} Index {% endblock %}</h1> -->
<h1>Register!</h1>

<div class="registerbottom">
  <form action="/register" method="post">
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" id="username" name="username" />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password" />
    </div>
    <div class="mb-3">
      <label for="fname" class="form-label">First Name</label>
      <input type="text" class="form-control" id="fname" name="fname" />
    </div>
    <div class="mb-3">
      <label for="lname" class="form-label">Last Name</label>
      <input type="text" class="form-control" id="lname" name="lname" />
    </div>
    <div class="mb-3">
      <label for="user_type" class="form-label">User Type</label>
      <select class="form-control" id="user_type" name="user_type">
        <option value="student">Student</option>
        <option value="professor">Professor</option>
      </select>
    </div>

    <button class="btn btn-primary" type="submit">Register</button>
  </form>

  <p class="worddark">
    Already have account?
    <a class="worddark" href="{{ url_for('login')}}">Login here</a>
  </p>
</div>

{% endblock %}
