<!-- extends base.html -->
{% extends 'base.html' %} {% block title %} Student Dashboard {% endblock %} {%
block content %}
<body>
  <h2>Welcome to your dashboard, {{ name }}</h2>

  <h3>Your Current Courses:</h3>
  <!-- course_name, course_id, grade, start_time, end_time, room_number -->
  <table class="table">
    <tr>
      <th>Course Name</th>
      <th>Course ID</th>
      <th>Grade</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Room Number</th>
      <th>Drop Course</th>
    </tr>
    {% for course in grades %}
    <tr>
      <td>{{ course.course_name }}</td>
      <td>{{ course.course_id }}</td>
      <td>{{ course.grade }}</td>
      <td>{{ course.start_time }}</td>
      <td>{{ course.end_time }}</td>
      <td>{{ course.room_number }}</td>
      <!-- button to drop course -->
      <td>
        <form action="/drop_class" method="post">
          <input
            type="hidden"
            name="course_id"
            value="{{ course.course_id }}" />
          <!-- <input type="submit" value="Drop Course" name="drop" /> -->
          <button type="submit" class="btn btn-danger" name="drop">
            Drop Course
          </button>
        </form>
      </td>
    </tr>

    {% endfor %}
  </table>

  <h3>Available Courses:</h3>
  <!-- course_name, course_id, start_time, end_time, room_number -->
  <table class="table">
    <tr>
      <th>Course Name</th>
      <th>Course ID</th>
      <th>Professor</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Room Number</th>
      <th>Add Course</th>
    </tr>
    {% for course in courses %}
    <tr>
      <td>{{ course.course_name }}</td>
      <td>{{ course.course_id }}</td>
      <td>{{ course.professor_lname}}</td>
      <td>{{ course.start_time }}</td>
      <td>{{ course.end_time }}</td>
      <td>{{ course.room_number }}</td>
      <td>
        <form action="/add_class" method="post">
          <input
            type="hidden"
            name="course_id"
            value="{{ course.course_id }}" />
          <!-- <input type="submit" value="Add Course" name="add" /> -->
          <button type="submit" class="btn btn-success" name="add">
            Add Course
          </button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>

  <!-- add or drop course_id -->
  <!-- <form action="/student" method="post">
    <label for="course_id">Course ID:</label>
    <input type="text" id="course_id" name="course_id" />
    <input type="submit" value="Add Course" name="add" />
    <input type="submit" value="Drop Course" name="drop" />
  </form> -->

  <a href="/logout">Logout</a>
</body>

{% endblock %}
